@{
    ViewData["Title"] = "AboutUs";
}
<h3>About Us</h3>
<hr class="border border-dark border-2 opacity-75" />
<!-- About Section Begin -->
<section class="about-section about-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="/assets/img/about-pic.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <h2>Story About Us</h2>
                    <p class="second-para">FitnessConnect, the digital heartbeat of Progressville, intertwines the diverse stories.</p>
                    <p class="first-para">We discover a shared passion for health and well-being. In this virtual haven, individuals unite, celebrate milestones, and forge lasting
                        connections, turning their fitness journeys into a collective adventure.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->